# Mac OS X
*.DS_Store

# Xcode
*.xcuserstate
project.xcworkspace/
xcuserdata/


## compatibility with Xcode 3 and earlier (ignoring not required starting Xcode 4)
build/
DerivedData/
logs/

## Obj-C/Swift specific
*.hmap

## App packaging
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/
*.xcworkspace
Podfile.lock

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
fastlane/xcov_report
fastlane/.env
